.main {
    display: flex;
    width: fit-content;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #023047;
    overflow: hidden;


}

.title {
    font-size: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.flightSearch {
    background-color: #f8f9fa;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.5rem
}

.searchTitle {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

.searchForm {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 1rem;
}

.inputGroup {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: inherit;

    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.searchLabel {
    font-size: 0.5rem;
    display: block;
}

.searchInput {
    width: 8rem;
    font-size: 0.5rem;
}



.dateInput {
    background-color: inherit;
    border: none;
    color-scheme: light;
    cursor: pointer;
}



.searchButton {
    cursor: pointer;
    font-size: 0.75rem;
    background-color: #ffb703;
    border: none;
    padding: 0.5rem;
    height: 100%;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

.searchType {
    align-self: center;
    padding: 0.5rem;
    font-size: 0.75rem;



}


.searchType input {
    cursor: pointer;
}

.searchType label {
    padding-right: 1rem;
    padding-left: 0.1rem;
    font-family: 'Roboto', sans-serif;
}