.flightResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    background-color: white;
    color: black;
    border: 1px solid tomato;

}

.sortBy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.sortBy button {
    font-size: 0.75rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0.5rem;

}

.sortBy button:hover {
    color: tomato;
}

.sortBy button:active {
    color: black;
}


.flight {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem 0 1rem;
}

.airline {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    width: 2.5rem;
    color: gray;
}



.departure {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    color: gray;


}

.departure time {
    color: tomato;
    font-weight: bold;


}

.duration {
    display: flex;
    align-items: flex-end;
}

.duration p {
    color: gray;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    align-self: center;
    padding-left: 2.5rem;
    width: 12rem;
}


.arrival {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 0 2rem;
    color: gray;

}


.arrival time {
    color: tomato;
    font-weight: bold;
}



.price {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: 1px solid tomato;
    width: 10rem;
    padding: 0.5rem;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.price h6 {
    background-color: tomato;
    width: 100%;
    color: white;
    padding: 0rem 2rem;

}

.priceValue {

    font-weight: bold;
    padding: 0 1rem;

}

.perPassenger {
    font-size: 0.75rem;
}


.error {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem 0;
}


.errorMessage {
    color: tomato;
}